.footer {
    background-color: #194775;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90px;
    bottom: 0;
    position: fixed;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    font-style:  italic ;
    margin: 1px;
    padding: 1px;
}
.footerP {
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    font-style:  italic ;
    margin: 1px;
    padding: 1px;
}
/* .footer img {
} */